:root {
    /* font sizes */
    --font-12: 0.75rem;
    --font-24: 1.5rem;
    --font-32: 2rem;
    --font-64: 4rem;
    --font-96: 6rem;

    /* font colors */
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-green: #1EC049;

    /* font colors */
    --space-56: 3.5rem;
}